

table.field{
    border: 10px solid black;
    background-color: lightgray;
    width: 500px;
    height: 500px;
    table-layout: fixed;
    margin: auto;
    position: relative;
    top: 350px;
}

td{
    
    border: 2px solid gray;
    height: 50px;
    width: 50px;
    text-align: center;
    

}
body{
    background-color: lightgoldenrodyellow;
    
    
}

.number_1{
    color: blue;
    
}
.number_2{
    color: darkgreen;
    
}
.number_3{
    color: red;
    
}
.number_4{
    color: darkblue;
    
}
.number_5{
    color: darkred ;
    
}
.number_6{
    color: turquoise;
    
}
.number_7{
    color: black ;
    
}
.number_8{
    color: grey;
    
}

.checked{
    
    background-color:grey;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    

}

.end_game{
    pointer-events: none;
}


.input{
    width: 400px;

}



.label_input{
    font-size: 20px;
}

.input_container{
    border: 10px solid black;
    position: absolute;
    top: 10px;
    padding: 20px;
    background-color: lightgrey;
}


.timer_counter{
    border: 10px solid black;
    background-color: lightgray;
    width: 400px;
    height: 100px;
    table-layout: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: red;

}

.top_bar{
    position: absolute;
    top: 200px;
    left: 1000px;
}
    
.total_display{
    margin: auto;
}

.title{
    position: absolute;
    left: 965px;
    top: 50px;
    font-size: 30px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}











